.shopName{
    color: white;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}
.logout{
    cursor: pointer;
    font-size: 16px;
    padding: 0 10px 0;
}
.containerHeader{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.log{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 10px;
    height: 60px;
    margin-bottom: 20px;
    width: 50%;
}
.image{
    width: 20px;
    height: 20px;
}
.imageContainer{
    display: inline;
    margin: 5px;
    font-size: 10px;
}

