.sidenav {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 140px;    
    background-color: #d9e1e2;
    padding-top: 20px;
};
.price {
    margin: auto;
    font-family: cursive;
    font-size: 14px;
};
.brand {
    height: 44px;
};
.productType {
    height: 40px;
    margin-bottom: 17px;
};

